# jupyter notebooks.
*.ipynb
*.npy
*.json
.ipynb_checkpoints/
# Rhistory
.Rhistory
# result folders
td results/
value iter results/
deepQN results/
DDPG results/
TD3 results/
DRQN results/
a3c results/
rayrllib results/
figures/
manuscript_results/ 
pomdp/
human_play_results/
.vscode/
# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
synthetic_genotypes/
# performance evaluation output csv files
performance_summary_*.csv